.layer{
  position: absolute;
  width: 70%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* width: 70%;
  bottom: 30px;
  left:15%; */
/* top: 20px; */
/* left: 50px;
bottom: 50px;
right: 50px; */
}

#fixed-box{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 9999999;
  /* display: none; */
  justify-content: center;
  align-items: center;
}

#fixed-box img{
  width: 100%;
}
.content{
  width: 40%;
  position: relative;
}

#close-btn{
  position: absolute;
  top: 20px;
  right: 20px;
}

#next-btn{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#prev-btn{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
} 

i , img{
  cursor: pointer;
}